.header-flat-name {
  display: flex;
  align-items: center;
}
.owner {
  text-align: center;
  padding: 20px;

}

.details {
  font-size: 18px;
    margin-top: 0;
}

.header-flat p {
    font-weight: normal;
    font-size: 15px;
    color: #777777;
  }
