/* Footer design */
.wrapper-grey {
  background: #F4F4F4;
}
#footer {
  /*padding-top: 40px;*/
  background-color: #333333;
  color: #CCCCCC;
  padding: 30px;
}

.list-inline {
  font-size: 1vw;
}
.list-inline a {
color:#CCCCCC;
}
