/* Footer design */
.wrapper-grey {
  background: $light-blue;
}
#footer {
  /*padding-top: 40px;*/
  background-color: $gray-light;
  color: $light-blue;
  padding: 30px;
  font-size: 18px
}

.list-inline {
  font-size: 5vw;
}
.list-inline a {
color:$light-blue;
}
