<div class="container text-center padded">
  <h1>Our team</h1>
  <ul class="list-inline">
<ul class="list-inline text-center">
  <% data.products.each do |member| %>
    <li>
      <%= image_tag member.image, class: "avatar-team" %>
      <h3><%= member.name.capitalize %></h3>
    </li>
  <% end %>
</ul>
<h3 class="padded">
    <a href="mailto:contact@airbnb.com">
      <i class="fa fa-envelope"></i> contact@airbnb.com
    </a>
  </h3>
  </ul>
  </div>



